<h1>Sinatra Blog</h1>
<p>Check some of the blogs or <a href="/new">create your own</a></p>

<% @posts.each do |post| %>
<article>
  <b><%= post.title %></b>
  <p><%= post.content %></p>
</article>
<% end %>
