<h1>Create a New Post</h1>
<article>
  <form method="post" action="new">
    <fieldset>
      <label for="title">Title</label><br>
      <input type="text" id="name" name="title">
    </fieldset>
    <fieldset>
      <label for="content">Content</label><br>
      <textarea rows="10" columns="50" name="content" id="content"></textarea>
    </fieldset>
    <input class="button" type="submit">
    <a href="/">Go Back</a>
  </form>
</article>

