html * {
  font-family: Helvetica;
}

body {
  margin: 20px;
}

h1 {
  color: tomato;
}

article {
  border-left: 6px solid tomato!important;
  margin-left: 10px;
}

article * {
  margin-left: 10px;
}

.button {
  background-color: tomato;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

input[type="text"] {
  border: 1px solid #cccccc;
}

textarea {
  width: 600px;
  height: 120px;
  border: 1px solid #cccccc;
}
